
body {
    font-size: 18px;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.sub li:before {
    content: ".";
}

#item_edition_title {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(187, 247, 222);
    text-align: center;
    z-index: 2;
}

#item_edition_body {
    padding-top: 30px;
}

.col {
    border: 1px solid;
}

li{
    line-height: 50px;
}

.liButtons{
    line-height: 0;
    height: 20px;
    vertical-align: top;
    margin-top: 17px;
}

.liSpan {
    cursor: pointer;
}

.custom-file{
    font-size: 13px;
}

.add_text_or_image_buttons{
    vertical-align: top;
    font-size: 13px;
}

.where_to_show_checks{
    vertical-align: middle;
    font-size: 13px;
}

.language_selects{
    vertical-align: middle;
    font-size: 13px;
}

textarea{
    min-width: 100%;
}

.uploadedImageDivs{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.uploadedImageDivs img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.type_indicator_title{
    font-size: 13px;
    float: right;
}

.finalViewParagraph{
    text-align: justify;
}